{% extends "ride/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
	            
	      {% if user.profile.is_driver %}
	      
	      <div class="form-group">
		<button class="btn btn-outline-info" type="submit">Profile Update</button>
	      </div>
	      <div class="form-group">

		<legend class="border-bottom mb-4">
		  Driver Info</legend>
	           {{ d_form|crispy }}
                   </form>
                   <div class="form-group">
		   <button class="btn btn-outline-info" type="submit">Driver Info Update</button>
		 </div>
	     
              {% else %}	   
	      <div class="form-group">
		<button class="btn btn-outline-info" type="submit" style="float:right">Profile Update</button>
	      </div>
	       <main role="main" class="container">
		 <div class="row">
		   <div class="content-section">
		     <a class="list-group-item list-group-item-light" href="{% url 'driver_reg' %}">Driver Registration</a>
		   </div>
		 </div>	 
		 {% endif %}

      </fieldset>
</ul>
</p>
</div>
    </main>

</div>

{% endblock content %}
