{% extends "ride/base.html" %}
{% block content %}
        <article class="media content-section">
	  {% if user.profile.is_driver %}
          <img class="rounded-circle article-img" src="{{ object.owner.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2">{{ object.owner.username }}</a>
              <small class="text-muted">{{ object.date_arrival|date:"F d, Y" }}</small>
              <small class="text-muted">status: {{ object.order_status }}</small>
            </div>

       	  <div>
            <h2><a class="article-content">{{ object.destination }}</a></h2>
	    <p class="article-content">Shared or not: {{ object.is_shared }}</p>
            <p class="article-content">How many passengers in owner party: {{ object.passenger_num }}</p>
            <p class="article-note">Other note: {{ object.note }}</p>
	  </div>

	    {% if object.share_flag %}
	    <p class="article-content">Sharer: {{ object.sharer.profile.user.username }}</p>
	    <p class="article-content">How many passengers in sharer party: {{ object.share_passenger_num }}</p>
            {% endif %}

	  {% if object.order_status == 'OP' %}
	  <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'confirm' object.id %}">Confirm</a>
          </div>
	  {% elif object.order_status == 'PD' %}
	  <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'confirm' object.id %}">Confirm</a>
          </div>
	  {% endif %}

	  {% else %}
	    <a class="list-group-item list-group-item-light" href="{% url 'driver_reg' %}">Driver Registration</a>
	 {% endif %}
	    
          </div>	  

        </article>
	
{% endblock content %}
